# 10 Minutes to pandas

In [1]:
import numpy as np 
import matplotlib.pyplot as plt 

import pandas as pd

## Object Creation

In [2]:
#== Series by passing list: Index is auto-created ==
s = pd.Series([1,3,5,np.nan,6,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
#== DataFrame by passing numpy array
#   index column is specified (as dates). 
#   column name is also given
dates = pd.date_range('20180101', periods=6)
print(dates, '\n')

# random data 6(rows)x4(columns)
data = np.random.randn(6,4)

df = pd.DataFrame(data, index=dates, columns=['A','B','C','D'])
print(df)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2018-01-01  0.303911  0.991289  0.689667 -0.591203
2018-01-02 -0.825885 -0.837956 -2.824791 -0.063970
2018-01-03 -0.427531 -0.456775 -0.541133  0.671176
2018-01-04  0.919372  0.204620 -0.360945  0.539669
2018-01-05 -0.538181  0.849280  0.622280  0.660690
2018-01-06  0.425915 -0.405431  1.169618 -0.269208

In [4]:
#== DataFame by passing dict 
df2 = pd.DataFrame({ 
    'A': 1., 
    'B': pd.Timestamp('20180101'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3]*3+[4], dtype='int32'),
    'E': pd.Categorical(["test","train","train","test"]),
    'F': 'foo'})
print(df2,'\n')
print(df2.dtypes)

     A          B    C  D      E    F
0  1.0 2018-01-01  1.0  3   test  foo
1  1.0 2018-01-01  1.0  3  train  foo
2  1.0 2018-01-01  1.0  3  train  foo
3  1.0 2018-01-01  1.0  4   test  foo

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [5]:
#== interactive browsing 
df.head(3) # only 3 data rows

                   A         B         C         D
2018-01-01  0.303911  0.991289  0.689667 -0.591203
2018-01-02 -0.825885 -0.837956 -2.824791 -0.063970
2018-01-03 -0.427531 -0.456775 -0.541133  0.671176

In [6]:
df.tail(3)

                   A         B         C         D
2018-01-04  0.919372  0.204620 -0.360945  0.539669
2018-01-05 -0.538181  0.849280  0.622280  0.660690
2018-01-06  0.425915 -0.405431  1.169618 -0.269208

In [7]:
#== Access to internal of DataFrame 

print(df.index, '\n')
print(df.columns, '\n')
print(df.values,'\n')  #as numpy array
print(df.values.shape)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

Index(['A', 'B', 'C', 'D'], dtype='object')

[[ 0.30391116  0.99128866  0.68966708 -0.59120279]
 [-0.82588543 -0.83795553 -2.82479138 -0.0639696 ]
 [-0.42753139 -0.45677454 -0.54113323  0.67117558]
 [ 0.91937219  0.20462023 -0.36094455  0.53966885]
 [-0.53818088  0.84928024  0.62227989  0.6606903 ]
 [ 0.42591526 -0.40543064  1.16961818 -0.26920801]]

(6, 4)

In [8]:
#== Describe : Show quick status summary (interactive tool)
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.023733  0.057505 -0.207551  0.157859
std    0.673816  0.748485  1.440484  0.539407
min   -0.825885 -0.837956 -2.824791 -0.591203
25%   -0.510519 -0.443939 -0.496086 -0.217898
50%   -0.061810 -0.100405  0.130668  0.237850
75%    0.395414  0.688115  0.672820  0.630435
max    0.919372  0.991289  1.169618  0.671176

In [9]:
#== Transpose (like numpy)
df.T

   2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05  2018-01-06
A    0.303911   -0.825885   -0.427531    0.919372   -0.538181    0.425915
B    0.991289   -0.837956   -0.456775    0.204620    0.849280   -0.405431
C    0.689667   -2.824791   -0.541133   -0.360945    0.622280    1.169618
D   -0.591203   -0.063970    0.671176    0.539669    0.660690   -0.269208

In [10]:
#== Sorting axis by labels (axis=0:row, axis=1:column)
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2018-01-01 -0.591203  0.689667  0.991289  0.303911
2018-01-02 -0.063970 -2.824791 -0.837956 -0.825885
2018-01-03  0.671176 -0.541133 -0.456775 -0.427531
2018-01-04  0.539669 -0.360945  0.204620  0.919372
2018-01-05  0.660690  0.622280  0.849280 -0.538181
2018-01-06 -0.269208  1.169618 -0.405431  0.425915

In [11]:
#== Sorting by values of a column 
df.sort_values(by='B', ascending=True)

                   A         B         C         D
2018-01-02 -0.825885 -0.837956 -2.824791 -0.063970
2018-01-03 -0.427531 -0.456775 -0.541133  0.671176
2018-01-06  0.425915 -0.405431  1.169618 -0.269208
2018-01-04  0.919372  0.204620 -0.360945  0.539669
2018-01-05 -0.538181  0.849280  0.622280  0.660690
2018-01-01  0.303911  0.991289  0.689667 -0.591203

## Selection

In [12]:
#== Select by column (like map, or structure)
df['A']

2018-01-01    0.303911
2018-01-02   -0.825885
2018-01-03   -0.427531
2018-01-04    0.919372
2018-01-05   -0.538181
2018-01-06    0.425915
Freq: D, Name: A, dtype: float64

In [13]:
#== Slicing rows, either by row index or data index
#   Note: Slicing by data index is **inclusive** range specification. 
#         Slicing by row index is same as numpy slice (last element is exclusive)
print(df[0:3],'\n')
print(df['20180102':'20180103'], '\n')

x=np.array([0,1,2,3,4])
print('Numpy slice x[0:3]=', x[0:3])

                   A         B         C         D
2018-01-01  0.303911  0.991289  0.689667 -0.591203
2018-01-02 -0.825885 -0.837956 -2.824791 -0.063970
2018-01-03 -0.427531 -0.456775 -0.541133  0.671176

                   A         B         C         D
2018-01-02 -0.825885 -0.837956 -2.824791 -0.063970
2018-01-03 -0.427531 -0.456775 -0.541133  0.671176

Numpy slice x[0:3]= [0 1 2]

In [14]:
#=== By Label: row selection by 'data index'
df.loc[dates[0]]

A    0.303911
B    0.991289
C    0.689667
D   -0.591203
Name: 2018-01-01 00:00:00, dtype: float64

In [15]:
#=== By Label: Selecting multi-axis by column labels 
df.loc[:,['A','B']]

                   A         B
2018-01-01  0.303911  0.991289
2018-01-02 -0.825885 -0.837956
2018-01-03 -0.427531 -0.456775
2018-01-04  0.919372  0.204620
2018-01-05 -0.538181  0.849280
2018-01-06  0.425915 -0.405431

In [16]:
#== By Label: row range by data index, column range by column names 
df.loc['20180101':'20180103', ['A','B']]

                   A         B
2018-01-01  0.303911  0.991289
2018-01-02 -0.825885 -0.837956
2018-01-03 -0.427531 -0.456775

In [17]:
#== By label: only one row -> dimension reduction 
df.loc['20180103', ['A','B']]

A   -0.427531
B   -0.456775
Name: 2018-01-03 00:00:00, dtype: float64

In [18]:
#== By Label: A parcular cell (scalar value)
df.loc['20180103','A']

-0.4275313888992342

In [19]:
#== By Label: Same as above, but faster 
df.at[dates[2],'A']

-0.4275313888992342

In [20]:
#== By position (row/column indexes)
print(df.iloc[3],'\n')

print(df.iloc[3:5,0:2],'\n')

print(df.iloc[[1,2,4],[0,2]],'\n')

print(df.iloc[1:3,:],'\n')

print(df.iloc[:,1:3],'\n')

print(df.iloc[1,1])

A    0.919372
B    0.204620
C   -0.360945
D    0.539669
Name: 2018-01-04 00:00:00, dtype: float64

                   A        B
2018-01-04  0.919372  0.20462
2018-01-05 -0.538181  0.84928

                   A         C
2018-01-02 -0.825885 -2.824791
2018-01-03 -0.427531 -0.541133
2018-01-05 -0.538181  0.622280

                   A         B         C         D
2018-01-02 -0.825885 -0.837956 -2.824791 -0.063970
2018-01-03 -0.427531 -0.456775 -0.541133  0.671176

                   B         C
2018-01-01  0.991289  0.689667
2018-01-02 -0.837956 -2.824791
2018-01-03 -0.456775 -0.541133
2018-01-04  0.204620 -0.360945
2018-01-05  0.849280  0.622280
2018-01-06 -0.405431  1.169618

-0.837955531194

In [21]:
#== Boolean Indexing 
print(df[df.B>0],'\n')

print(df[df>0],'\n')

                   A         B         C         D
2018-01-01  0.303911  0.991289  0.689667 -0.591203
2018-01-04  0.919372  0.204620 -0.360945  0.539669
2018-01-05 -0.538181  0.849280  0.622280  0.660690

                   A         B         C         D
2018-01-01  0.303911  0.991289  0.689667       NaN
2018-01-02       NaN       NaN       NaN       NaN
2018-01-03       NaN       NaN       NaN  0.671176
2018-01-04  0.919372  0.204620       NaN  0.539669
2018-01-05       NaN  0.849280  0.622280  0.660690
2018-01-06  0.425915       NaN  1.169618       NaN

In [22]:
#== Using isin() method 
print(df2,'\n')

print(df2[df2['E'].isin(['test'])])  # select E column=='test' only

     A          B    C  D      E    F
0  1.0 2018-01-01  1.0  3   test  foo
1  1.0 2018-01-01  1.0  3  train  foo
2  1.0 2018-01-01  1.0  3  train  foo
3  1.0 2018-01-01  1.0  4   test  foo

     A          B    C  D     E    F
0  1.0 2018-01-01  1.0  3  test  foo
3  1.0 2018-01-01  1.0  4  test  foo

## Setting (by Selection)

In [23]:
# prerequisite:  len(df) = # of data rows 
len(df)

6

In [24]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20180102',periods=6))
print(s1,'\n')

#== Set by Series (new column)
df['F'] = s1;   # Note that last element of s1 is not set to df[]. Not union, outer join. 
print(df,'\n')

#== Set by label 
df.at[dates[0], 'A'] = 0

#== Set by position index 
df.iat[0,1] = -1  # 'B' column first row

#== Set by numpy array 
df.loc[:,'D'] = np.array([5]*len(df))

print(df)

2018-01-02    1
2018-01-03    2
2018-01-04    3
2018-01-05    4
2018-01-06    5
2018-01-07    6
Freq: D, dtype: int64

                   A         B         C         D    F
2018-01-01  0.303911  0.991289  0.689667 -0.591203  NaN
2018-01-02 -0.825885 -0.837956 -2.824791 -0.063970  1.0
2018-01-03 -0.427531 -0.456775 -0.541133  0.671176  2.0
2018-01-04  0.919372  0.204620 -0.360945  0.539669  3.0
2018-01-05 -0.538181  0.849280  0.622280  0.660690  4.0
2018-01-06  0.425915 -0.405431  1.169618 -0.269208  5.0

                   A         B         C  D    F
2018-01-01  0.000000 -1.000000  0.689667  5  NaN
2018-01-02 -0.825885 -0.837956 -2.824791  5  1.0
2018-01-03 -0.427531 -0.456775 -0.541133  5  2.0
2018-01-04  0.919372  0.204620 -0.360945  5  3.0
2018-01-05 -0.538181  0.849280  0.622280  5  4.0
2018-01-06  0.425915 -0.405431  1.169618  5  5.0

In [25]:
#== Selective overwite 
dfx = df.copy()
dfx[dfx < 0] = -dfx  # abs
print(dfx)

                   A         B         C  D    F
2018-01-01  0.000000  1.000000  0.689667  5  NaN
2018-01-02  0.825885  0.837956  2.824791  5  1.0
2018-01-03  0.427531  0.456775  0.541133  5  2.0
2018-01-04  0.919372  0.204620  0.360945  5  3.0
2018-01-05  0.538181  0.849280  0.622280  5  4.0
2018-01-06  0.425915  0.405431  1.169618  5  5.0

## Missing Data

In [26]:
#== Reindex and get new DataFrame (subset) 
dfx = df.reindex( index=dates[0:4], columns=list(df.columns) + ['E'])
print(dfx, '\n')

dfx.loc[dates[0]:dates[1], 'E'] = 1
print(dfx, '\n')

                   A         B         C  D    F   E
2018-01-01  0.000000 -1.000000  0.689667  5  NaN NaN
2018-01-02 -0.825885 -0.837956 -2.824791  5  1.0 NaN
2018-01-03 -0.427531 -0.456775 -0.541133  5  2.0 NaN
2018-01-04  0.919372  0.204620 -0.360945  5  3.0 NaN

                   A         B         C  D    F    E
2018-01-01  0.000000 -1.000000  0.689667  5  NaN  1.0
2018-01-02 -0.825885 -0.837956 -2.824791  5  1.0  1.0
2018-01-03 -0.427531 -0.456775 -0.541133  5  2.0  NaN
2018-01-04  0.919372  0.204620 -0.360945  5  3.0  NaN

In [27]:
#== Drop any rows having missing data 
print(dfx.dropna(how='any'))

                   A         B         C  D    F    E
2018-01-02 -0.825885 -0.837956 -2.824791  5  1.0  1.0

In [28]:
#== Filling missing value 
print(dfx.fillna(value=-999.25),'\n')
print(dfx) # original data remains unchanged.

                   A         B         C  D       F       E
2018-01-01  0.000000 -1.000000  0.689667  5 -999.25    1.00
2018-01-02 -0.825885 -0.837956 -2.824791  5    1.00    1.00
2018-01-03 -0.427531 -0.456775 -0.541133  5    2.00 -999.25
2018-01-04  0.919372  0.204620 -0.360945  5    3.00 -999.25

                   A         B         C  D    F    E
2018-01-01  0.000000 -1.000000  0.689667  5  NaN  1.0
2018-01-02 -0.825885 -0.837956 -2.824791  5  1.0  1.0
2018-01-03 -0.427531 -0.456775 -0.541133  5  2.0  NaN
2018-01-04  0.919372  0.204620 -0.360945  5  3.0  NaN

In [29]:
#== Check if NaN or not 
#print(pd.isna(dfx)) <== depreted?? 
print(pd.isnull(dfx))

                A      B      C      D      F      E
2018-01-01  False  False  False  False   True  False
2018-01-02  False  False  False  False  False  False
2018-01-03  False  False  False  False  False   True
2018-01-04  False  False  False  False  False   True

## Operations

### Stats

In [30]:
# mean() along each column 
df.mean() # same as df.mean(0)

A   -0.074385
B   -0.274377
C   -0.207551
D    5.000000
F    3.000000
dtype: float64

In [31]:
# mean() along each row (axis=1)
df.mean(1)

2018-01-01    1.172417
2018-01-02    0.302274
2018-01-03    1.114912
2018-01-04    1.752610
2018-01-05    1.986676
2018-01-06    2.238021
Freq: D, dtype: float64

In [32]:
# subtract 
print(df,'\n')

s = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2) # shift 2 rows down (2 NaN at top)
print(s,'\n')

# subtract 
print(df.sub(s,axis='index'))

                   A         B         C  D    F
2018-01-01  0.000000 -1.000000  0.689667  5  NaN
2018-01-02 -0.825885 -0.837956 -2.824791  5  1.0
2018-01-03 -0.427531 -0.456775 -0.541133  5  2.0
2018-01-04  0.919372  0.204620 -0.360945  5  3.0
2018-01-05 -0.538181  0.849280  0.622280  5  4.0
2018-01-06  0.425915 -0.405431  1.169618  5  5.0

2018-01-01    NaN
2018-01-02    NaN
2018-01-03    1.0
2018-01-04    3.0
2018-01-05    5.0
2018-01-06    NaN
Freq: D, dtype: float64

                   A         B         C    D    F
2018-01-01       NaN       NaN       NaN  NaN  NaN
2018-01-02       NaN       NaN       NaN  NaN  NaN
2018-01-03 -1.427531 -1.456775 -1.541133  4.0  1.0
2018-01-04 -2.080628 -2.795380 -3.360945  2.0  0.0
2018-01-05 -5.538181 -4.150720 -4.377720  0.0 -1.0
2018-01-06       NaN       NaN       NaN  NaN  NaN

### Apply

In [33]:
# Apply np.cumsum() to each column 
print(df.apply(np.cumsum))

                   A         B         C   D     F
2018-01-01  0.000000 -1.000000  0.689667   5   NaN
2018-01-02 -0.825885 -1.837956 -2.135124  10   1.0
2018-01-03 -1.253417 -2.294730 -2.676258  15   3.0
2018-01-04 -0.334045 -2.090110 -3.037202  20   6.0
2018-01-05 -0.872226 -1.240830 -2.414922  25  10.0
2018-01-06 -0.446310 -1.646260 -1.245304  30  15.0

In [34]:
# Apply lambda function to each column.  This example yilelds scalar value from function.
# As seen below, NaN is ignored in calculation. 
print(df,'\n')
print(df.apply(lambda x: x.max()-x.min()))

                   A         B         C  D    F
2018-01-01  0.000000 -1.000000  0.689667  5  NaN
2018-01-02 -0.825885 -0.837956 -2.824791  5  1.0
2018-01-03 -0.427531 -0.456775 -0.541133  5  2.0
2018-01-04  0.919372  0.204620 -0.360945  5  3.0
2018-01-05 -0.538181  0.849280  0.622280  5  4.0
2018-01-06  0.425915 -0.405431  1.169618  5  5.0

A    1.745258
B    1.849280
C    3.994410
D    0.000000
F    4.000000
dtype: float64

In [35]:
print(df.apply(lambda x: abs(x)),'\n')  # example of element-by-element lambda fx
print(df.abs()) # same result (to confirm)

                   A         B         C  D    F
2018-01-01  0.000000  1.000000  0.689667  5  NaN
2018-01-02  0.825885  0.837956  2.824791  5  1.0
2018-01-03  0.427531  0.456775  0.541133  5  2.0
2018-01-04  0.919372  0.204620  0.360945  5  3.0
2018-01-05  0.538181  0.849280  0.622280  5  4.0
2018-01-06  0.425915  0.405431  1.169618  5  5.0

                   A         B         C    D    F
2018-01-01  0.000000  1.000000  0.689667  5.0  NaN
2018-01-02  0.825885  0.837956  2.824791  5.0  1.0
2018-01-03  0.427531  0.456775  0.541133  5.0  2.0
2018-01-04  0.919372  0.204620  0.360945  5.0  3.0
2018-01-05  0.538181  0.849280  0.622280  5.0  4.0
2018-01-06  0.425915  0.405431  1.169618  5.0  5.0

### Histogram

In [36]:
# sample data: note that Series auto-generate index 
s = pd.Series(np.random.randint(0,7,size=10))  #low,high,size 
print(s,'\n')

# histogram by value_counts
s.value_counts()

0    3
1    0
2    4
3    0
4    1
5    4
6    3
7    5
8    6
9    6
dtype: int64

6    2
4    2
3    2
0    2
5    1
1    1
dtype: int64

### String method

In [37]:
s = pd.Series(['A','B','C',np.nan,'Dog'])
s.str.lower()

0      a
1      b
2      c
3    NaN
4    dog
dtype: object

## Merge

### Concat

In [44]:
# original DataFarme
df = pd.DataFrame(np.random.randn(10,4))
print(df,'\n')

# Split into pieces - row wise
pf1 = df[:3]
pf2 = df[3:7]
pf3 = df[7:]

# Combine multiple data frames, row-wise, into one : Result should be indentical to oringinal
df2 = pd.concat([pf1,pf2,pf3])
print(df2)

          0         1         2         3
0  0.816014  0.800260  2.131963 -0.891388
1  1.044397  1.616341  0.566266 -0.765976
2  0.618752  0.175383 -2.377174  1.299625
3 -0.329461  0.317405 -1.143375 -1.594946
4 -1.768759  0.979294 -0.983089  1.004043
5 -0.620545 -0.566916  0.565525  0.425026
6  0.189152 -0.990137 -0.905014  1.096628
7  0.128726 -0.876221 -0.866806  0.190657
8 -0.462804 -0.510500  0.318471 -0.469022
9  1.332627 -0.427660  0.268435 -0.189847

          0         1         2         3
0  0.816014  0.800260  2.131963 -0.891388
1  1.044397  1.616341  0.566266 -0.765976
2  0.618752  0.175383 -2.377174  1.299625
3 -0.329461  0.317405 -1.143375 -1.594946
4 -1.768759  0.979294 -0.983089  1.004043
5 -0.620545 -0.566916  0.565525  0.425026
6  0.189152 -0.990137 -0.905014  1.096628
7  0.128726 -0.876221 -0.866806  0.190657
8 -0.462804 -0.510500  0.318471 -0.469022
9  1.332627 -0.427660  0.268435 -0.189847

### Join   
pandas.merge() method has 'how' option to specify merge method.   
- **left** = Left Outer Join (Use keys from left frame only)   : ***SQL = LEFT_OUTER_JOIN ***
- **right** = Right Outer Join (Use key from right frame only) : SQL = RIGHT_OUTER_JOIN
- **outer** = Use union of keys from both frames  : SQL = FULL_OUTER_JOIN
- **inner** = Use intersection of keys from both frames : SQL = INNER_JOIN

In [83]:
# column 'ival' and 'rval' are different - no merge occurs 
left = pd.DataFrame({'key':['foo','foo'], 'qval': [1,2]})
right = pd.DataFrame({'key': ['foo','foo'], 'rval': [4,5]})

print( left,'\n\n', right,'\n')

#pandas.merge()  - 'how' = 'inner' by default 

#== 'key' column is 'foo' to all rows, both to left and right, cannot be used as index. 
#== Only 'key' column is commonly used after merge
print( pd.merge(left,right,on='key'))

   key  qval
0  foo     1
1  foo     2

    key  rval
0  foo     4
1  foo     5

   key  qval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [84]:
# When both left and right has unique key values
left = pd.DataFrame({'key':['foo','boo'], 'qval': [1,2]})
right = pd.DataFrame({'key': ['foo','boo','zoo'], 'rval': [4,5,100]})

# The 'inner' is taken. key='zoo' in the right is not adapted into merge result.  
print( pd.merge(left,right,on='key'))

   key  qval  rval
0  foo     1     4
1  boo     2     5

In [85]:
# Using two columns as keys 
left = pd.DataFrame({   'key1': ['K0', 'K0', 'K1', 'K2'],
                        'key2': ['K0', 'K1', 'K0', 'K1'],
                         'A': ['A0', 'A1', 'A2', 'A3'],
                         'B': ['B0', 'B1', 'B2', 'B3']} )

right = pd.DataFrame({  'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

print(left,'\n')
print(right,'\n')

# NOTE: After merge, [key1,key2]=[K1,K0] appears in 2 rows 
# [A,B] = [A2,B2] are duplicated in row-1 & 2, for [C,D] = [C1,D1] & [C2,D2] respectively. 
result = pd.merge( left, right, on=['key1','key2'])
print('=== Inner===')
print(result, '\n')

# Left 
result = pd.merge( left, right, how='left', on=['key1','key2'])
print('=== Left===')
print(result, '\n')

# Right 
result = pd.merge( left, right, how='right', on=['key1','key2'])
print('=== Right===')
print(result, '\n')

# Right 
result = pd.merge( left, right, how='outer', on=['key1','key2'])
print('=== Outer===')
print(result, '\n')

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

=== Inner===
    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

=== Left===
    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN

=== Right===
     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

=== Outer===
     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

## Grouping  
- **Splitting** the data into groups based on some criteria   
- **Applying** a function to each group independently 
- **Combining** the results into a data structure

In [89]:
A = ['foo','bar','foo','bar', 
     'foo','bar','foo','foo' ]
B = ['one','one','two','three',
     'two','two','one','three']
C = np.random.randn(8)
D = np.random.randn(8)
df = pd.DataFrame({'A':A, 'B':B, 'C':C, 'D':D})
df

     A      B         C         D
0  foo    one  0.259566  0.284804
1  bar    one -1.027150 -1.311292
2  foo    two  0.367848 -0.601422
3  bar  three  0.399847 -0.110003
4  foo    two  0.731794 -0.531831
5  bar    two -2.860152  0.144845
6  foo    one -0.550896 -0.706346
7  foo  three -0.287487  0.132591

In [126]:
# simply grouping by 'A' column - Result is <DataFrameGroupBy> object. 
ans = df.groupby('A')
print(ans)

# get_group() method by specifying the value of key used for grouping 
print(ans.get_group('foo'))
print(ans.get_group('bar'))

# all groups 
print('\n')
print(ans.groups)        # groups atrribute returns dict 
print(len(ans.groups))   # len() to dict 
print(ans.groups.keys()) # keys() to dict

<pandas.core.groupby.DataFrameGroupBy object at 0x7fb54b81b5c0>
     A      B         C         D
0  foo    one  0.259566  0.284804
2  foo    two  0.367848 -0.601422
4  foo    two  0.731794 -0.531831
6  foo    one -0.550896 -0.706346
7  foo  three -0.287487  0.132591
     A      B         C         D
1  bar    one -1.027150 -1.311292
3  bar  three  0.399847 -0.110003
5  bar    two -2.860152  0.144845


{'bar': Int64Index([1, 3, 5], dtype='int64'), 'foo': Int64Index([0, 2, 4, 6, 7], dtype='int64')}
2
dict_keys(['bar', 'foo'])

In [92]:
# group by 'A' column for the same value, and take sum to each group 
# Column 'B' is ignored for sum() operation 
ans = df.groupby('A').sum()
ans

            C         D
A
bar -3.487456 -1.276450
foo  0.520826 -1.422205

In [127]:
# group by combination of 'A' and 'B' for taking sum 
ans = df.groupby(['A','B']).sum()
ans

                  C         D
A   B
bar one   -1.027150 -1.311292
    three  0.399847 -0.110003
    two   -2.860152  0.144845
foo one   -0.291330 -0.421542
    three -0.287487  0.132591
    two    1.099643 -1.133254

## Reshaping

### Stack

In [142]:
# list of tuples 
tuples = list(zip(*[ ['bar','bar','baz','baz','foo','foo','qux','qux'],
                     ['one','two','one','two','one','two','one','two'] ]))
print(tuples,'\n')

# pandas.MultiIndex.from_tuples
index = pd.MultiIndex.from_tuples(tuples, names=['first','second'])
print(index, '\n')

# Data frame with MultiIndex 
df = pd.DataFrame(np.random.randn(8,2), columns=['A','B'], index=index)
print(df,'\n')

# Take 0~3 rows 
df2 = df[:4]
print('** df2 **')
print(df2,'\n')

# Stack multi-index data frame 
# Stack distributes the columns into different rows. 
stacked = df2.stack()
print('** df2.stack() **')
print(stacked, '\n')

# Unstack (the last level) 
print('** stacked.unstack() **')
print(stacked.unstack(), '\n')

# Unstack(1) - ['one','two'] becomes columns 
print('** stacked.unstack(1) ***')
print(stacked.unstack(1), '\n')

# Unstack(0) - ['bar','baz'] becomes columns 
print('** stacked.unstack(0) ***')
print(stacked.unstack(0), '\n')

[('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

                     A         B
first second
bar   one     1.266119  0.935017
      two     0.160709  0.249043
baz   one    -0.793861 -0.307768
      two     0.385829 -1.163050
foo   one    -2.054472  0.752439
      two    -1.414418 -0.850356
qux   one     1.102507  0.722204
      two    -0.212556  0.247597

** df2 **
                     A         B
first second
bar   one     1.266119  0.935017
      two     0.160709  0.249043
baz   one    -0.793861 -0.307768
      two     0.385829 -1.163050

** df2.stack() **
first  second
bar    one     A    1.266119
               B    0.935017
       two     A    0.160709
               B    0.249043
baz    one     A   -0.793861
               B   -0.307768
       two     A    0.385829
               B   -1.163050
dtype: float64

** stacked.unstack() **
                     A         B
first second
bar   one     1.266119  0.935017
      two     0.160709  0.249043
baz   one    -0.793861 -0.307768
      two     0.385829 -1.163050

** stacked.unstack(1) ***
second        one       two
first
bar   A  1.266119  0.160709
      B  0.935017  0.249043
baz   A -0.793861  0.385829
      B -0.307768 -1.163050

** stacked.unstack(0) ***
first          bar       baz
second
one    A  1.266119 -0.793861
       B  0.935017 -0.307768
two    A  0.160709  0.385829
       B  0.249043 -1.163050

### Pivot Tables

In [148]:
# Test Data 
df = pd.DataFrame({
    'A': ['one','one','two','three'] * 3,
    'B': ['x','y','z'] * 4, 
    'C': ['foo','foo','foo','bar','bar','bar'] * 2,
    'D': np.random.randn(12), 
    'E': np.random.randn(12)
})
df

        A  B    C         D         E
0     one  x  foo -0.390319  2.357828
1     one  y  foo  1.171164 -0.433529
2     two  z  foo -1.217244  0.088346
3   three  x  bar -0.437037  0.478290
4     one  y  bar  1.008491 -0.189767
5     one  z  bar -0.154737  0.993155
6     two  x  foo -1.192819 -0.866687
7   three  y  foo -0.345062 -0.607443
8     one  z  foo -0.628819 -1.184892
9     one  x  bar  1.429677  1.453476
10    two  y  bar  0.654214  0.920736
11  three  z  bar -0.055200  1.096568

In [152]:
# Table values are from 'D' column 
# Indexed by combination of 'A' & 'B' columns 
# Result table has columns for each unique value of 'C' (i.e., 'bar' and 'foo')
ans = pd.pivot_table(df, values='D', index=['A','B'], columns=['C'])
ans

C             bar       foo
A     B
one   x  1.429677 -0.390319
      y  1.008491  1.171164
      z -0.154737 -0.628819
three x -0.437037       NaN
      y       NaN -0.345062
      z -0.055200       NaN
two   x       NaN -1.192819
      y  0.654214       NaN
      z       NaN -1.217244

In [154]:
# Same for values in 'E' column 
ans = pd.pivot_table(df, values='E', index=['A','B'], columns=['C'])
ans

C             bar       foo
A     B
one   x  1.453476  2.357828
      y -0.189767 -0.433529
      z  0.993155 -1.184892
three x  0.478290       NaN
      y       NaN -0.607443
      z  1.096568       NaN
two   x       NaN -0.866687
      y  0.920736       NaN
      z       NaN  0.088346

## Time Series   
Such as finantial data with calendar time as index.

In [185]:
# 120 date/time series with 1second resolution
rng = pd.date_range('1/1/2018', periods=120, freq='S')
len(rng)

120

In [193]:
# Series of data (random value) with the time as index 
ts = pd.Series(np.random.randint(0,500,len(rng)), index=rng)

# Resample at every 20 seconds (grouping to series of 20-second bins)  
ts5min = ts.resample('20S')
print(ts5min,'\n')  # Resampler object 
print(ts5min.groups,'\n') # dict 
print(ts5min.sum(), '\n') # series of sum() to each 1min bin
#print(ts5min.count) # count
#print(ts5min.first())
#print(ts5min.last())

DatetimeIndexResampler [freq=<20 * Seconds>, axis=0, closed=left, label=left, convention=start, base=0]

{Timestamp('2018-01-01 00:00:00', freq='20S'): 20, Timestamp('2018-01-01 00:00:20', freq='20S'): 40, Timestamp('2018-01-01 00:00:40', freq='20S'): 60, Timestamp('2018-01-01 00:01:00', freq='20S'): 80, Timestamp('2018-01-01 00:01:20', freq='20S'): 100, Timestamp('2018-01-01 00:01:40', freq='20S'): 120}

2018-01-01 00:00:00    4663
2018-01-01 00:00:20    4546
2018-01-01 00:00:40    4696
2018-01-01 00:01:00    3552
2018-01-01 00:01:20    3201
2018-01-01 00:01:40    4956
Freq: 20S, dtype: int64

## Categoricals

In [200]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [201]:
# Change to text value to category 
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [202]:
# assign new category names to [a,b,e]
df["grade"].cat.categories = ["very good", "good", "very bad"]
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (3, object): [very good, good, very bad]

In [205]:
# update new category names with new (interpolated) category names 
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [207]:
df

   id raw_grade      grade
0   1         a  very good
1   2         b       good
2   3         b       good
3   4         a  very good
4   5         a  very good
5   6         e   very bad

In [209]:
# sort value by grade column 
df.sort_values(by="grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

In [218]:
# Grouping by "grade" category and count the number of occurences 
print(type(df.groupby("grade").count())) # as data frame ('id' column and 'raw_grade' column both contained)
df.groupby("grade").count()

<class 'pandas.core.frame.DataFrame'>

           id  raw_grade
grade
very bad    1          1
bad         0          0
medium      0          0
good        2          2
very good   3          3

In [219]:
# same as above but as different return value type (as series) 
print(type(df.groupby("grade").size()))  # as series (series values is count of each category)
df.groupby("grade").size()

<class 'pandas.core.series.Series'>

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64